html {
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right,  rgba(25,74,77,1) 1%,rgba(102,153,82,1) 100%);
}

.content-wrap {
    max-width: 1200px;
}
/* Navigation Section */
@media only screen and (max-width: 500px) {
    .top-navigation,
    .top-navigation > .content,
    .top-navigation li {
        font-size: 1em;
        width: 33%
    }
}
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 10em;
    border-bottom: 1px solid #DDD;
    z-index: 999;
}
.top-navigation > .content {
    width: 970px;
    height: 10px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sixing: border-box;
    z-index: 999;
}
@media only screen and (max-width: 500px) {
    .name {
        font-size: 1em;
    }
}
.top-navigation .name {
    float: left;
    font-family: 'nevis', helvetica, tahoma, arial, sans-serif;
    font-weight: ;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #838994;
    font-size: 2.04rem;
    margin-top: 0.4rem;
    margin-right: 20px;
    margin-left: -2em;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1rem;
    margin-right: -40px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    color:#838994;
}
.top-navigation .links li:hover {
    display: inline-block;
    margin-left: 25px;
    color: black;
}
.top-navigation a {
    background-color: transparent;
    text-decoration: none;
    color: #4c5058;
}
/* Background */
@media only screen and (max-width: 500px) {
    .feature-image {
        width: 30%;
        height: 30%;
    }
}
.feature-image {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    padding-top: 1px;
    margin: 0;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: 50em;
    /* Set up positioning */
    position: absolute;
    top: 3em;
    left: 0;
    z-index: -1; 
}
/*  Circle Content */
.circle-h {
  overflow: hidden;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  margin: 50px auto;
  margin-top: 15em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  border: 1px solid: transparent;
  box-shadow: inset 0px 0px 35px 10px rgba(0, 0, 0, 0.32), -2px -2px 0px 2px rgba(255, 255, 255, 0.13);
  transition: all 0.3s;
  animation-name: szerokosc;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: szerokosc;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

.circle {
  width: 282px;
  height: 282px;
  text-align: center;
  line-height: 2em;
  font-family: 'Exo', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.32);
  background: #eee;
  margin: 0 auto;
  border-radius: 100%;
  transition: all 0.3s;
  cursor: pointer;
}

.circle:hover {
  transform: scale(1.28);
  transition: all 1s;
}

@keyframes szerokosc {
  0%  {
     background-color: LightGray;
  }  
  25% {
    background-color: beige;
  }
  50% {
    background-color: LightGray;
  }
  75% {
    background-color: beige;
  }
100% {
    background-color: LightGray;
  } 
}

@-webkit-keyframes szerokosc {
  0%  {
     background-color: rgba(25,74,77,1);
  }  
  25% {
    background-color: rgba(102,153,82,1);
  }
  50% {
    background-color: rgba(25,74,77,1);
  }
  75% {
    background-color: rgba(102,153,82,1);
  }
100% {
    background-color: rgba(25,74,77,1);
  } 
}
/* Profile */
#profile {
    display: block;
    margin-top: 13em;
    padding: 2em;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    z-index: 999;
}
.profile .header,
.projects .header,
.contact .header {
    font-family: 'nevis', helvetica, tahoma, arial, sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 2.04rem;
    width: 100%;
    padding: 2.5em 0;
    border-bottom: 1px solid #DDD;
    text-align: center;
    font-size: 1.9rem;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.selfie {
    width: 35%;
    height: 35%;
    border-radius: 5em;
    float: left;
    padding: 2em;
}
.profile p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    display: block;
    font-weight: 300;
    color: white;
}
/* Projects */
.projects {
    background-color: transparent;
    padding: 3em;
    width: 80em;
    position: absolute;
    margin-left: -0.5em;
    padding: 0.625rem 0;
    text-align: center;
    margin-top: 3em;
}
.projects >ul {
    padding: 0.625rem 0;
    list-style: none;
    display: inline-flex;
}
.SmartShopper, 
.Karma, 
.streetFighter {
    border-radius: 2em;
    padding: 1em;
    width: 380px;
    height: 190px;
}
.SmartShopper:hover,
.Karma:hover,
.streetFighter:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}
/* Contact */
.contact {
    margin-top: 34em;
    padding: 3em;
}
.contact .map {
    width: 40%;
    height: 50%;
    float: right;
    padding: 1.5em;
    border-radius: 3em;
}
.contact .text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 1.625rem 0 0.125rem;
    font-weight: 300;
    display: block;
    color: white;
}
.contact .info, .email {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 1.625rem 0 0.125rem;
    font-weight: 300;
    display: block; 
    line-height: 2px;
    color: white;
}   

/* Footer */
.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
    margin: 0 auto;
    padding: 10;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    width: 800px;
    border-top: 1px solid #ccc;
    margin-top: 100px;
    background-color: transparent;
}
.social .content >h5{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 1.625rem 0 0.125rem;
    font-weight: 300;
    text-align: center;
    color: white;
}
.social .icons {
    display: inline;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.social .icons >ul {
    list-style: none;
    

}
.social .icons >li {
    border-radius: 1.25rem;
    box-sizing: border-box;
    width: 5%;
    height: 5%;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
    vertical-align: baseline;
    background-color: white;
}
.social .copy {
    color: LightGray;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.fa-twitter:before {
    content: "\f099";
    color: #55acee;
}
.fa-facebook:before {
    color: #4c66a4;
}
.fa-instagram:before {
    color: #3f729b;
}
.fa-github:before {

}