@font-face{ 
  font-family: 'Lot';
  src: url('../fonts/LOT-webfont.eot');
  src: url('../fonts/LOT-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LOT-webfont.woff') format('woff'),
       url('../fonts/LOT-webfont.ttf') format('truetype'),
       url('../fonts/LOT-webfont.svg#webfont') format('svg');
}


/* Foundation */
html {
  background: linear-gradient(to right,  rgba(25,74,77,1) 1%,rgba(102,153,82,1) 100%);
  background-repeat: no-repeat;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 1.6875;
  font-family: sans-serif;
}

iframe {
  border: 0;
}

h1, h2, h3, h4, h5, p, ul, ol, figure, button {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

h1, h2, h3, h4, h5, p {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

sup {
  position: relative;
  top: -.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}

a, button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/** BEGIN STYLING */

/* Navigation ----------------------------------------------- */

.navigation {
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 9999;  
  display: none;
}

.navigation-visible {
  background: linear-gradient(to right,  rgba(25,74,77,1) 1%,rgba(102,153,82,1) 100%);
  border-bottom: 1px solid #F9F1DD;
  margin-top: -40em;
}

  .navigation-container {
    margin: 0 auto;
    max-width: 62.5em;
    padding: 0.50em;
  }

    .logo, .navigation-container a {
      font-family: 'Quicksand';
      font-weight: 400;
      color: #F9F1DD;
    }

    .navigation-container .logo {
      display: inline-block;
      font-size: 2em;
      text-transform: uppercase;
      float: left;
      
    }

    .navigation-container .menu {
      float: right;
    }

      .navigation-container .menu li {
        display: inline-block;
        padding-right: 0.75em;
        font-size: 1.25em;
      }

      .navigation-container .menu a:hover {
        color: #8C1740;
      }

      .navigation-container .menu a:active {
        color: #CC4907;
      }
/* Background */
.banner {
  height: 40rem;
  background: url('../images/nature.jpg');
}

  .banner-container {
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
  }
/*  Circle Content */
.circle-section {
  text-align: center;
}
.circle-h {
  overflow: hidden;
  width: 360px;
  height: 360px;
  border-radius: 100%;
  margin: 50px auto;
  vertical-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex; 
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  border: 1px solid: transparent;
  box-shadow: inset 0px 0px 35px 10px rgba(0, 0, 0, 0.12), -2px -2px 0px 2px rgba(255, 255, 255, 0.13);
  transition: all 0.9s;
  animation-name: szerokosc;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: szerokosc;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  z-index: 50;
}

.circle {
  width: 282px;
  height: 282px;
  text-align: center;
  line-height: 2em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.32);
  background: #eee;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

/* .circle:hover {
  transform: scale(1.28);
  transition: all 0.5s;
} 
*/

.goDown {
      color: #000;
      display: inline-block;
      position: relative;
    }

@keyframes szerokosc  {
  0%  {
     background-color: beige;
  }  
  25% {
    background-color: #eee;
  }
  50% {
    background-color: beige;
  }
  75% {
    background-color: #eee;
  }
100% {
    background-color: beige;
  } 
}

@-webkit-keyframes szerokosc {
  0%  {
     background-color: beige;
  }  
  25% {
    background-color: #eee;
  }
  50% {
    background-color: beige;
  }
  75% {
    background-color: #eee;
  }
100% {
    background-color: beige;
  } 
}
/* Profile */
#profile {
    display: block;
    padding: 2em;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    z-index: 200;
    height: 65em;
    background-color: #3b3b3b;
    overflow: hidden;
}
.contact .header,
.projects .header,
.profile .header {
    font-family: 'nevis', helvetica, tahoma, arial, sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: white;
    font-size: 2.04rem;
    width: 100%;
    padding: 2.5em 0;

    background-color: transparent;
    text-align: center;
    font-size: 1.9rem;
    display: block;

    -webkit-font-smoothing: antialiased;
}
  .info {
    width: 45%;
    float: left;
  }
    .outerRim {
      width: 170px;
      height: 170px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      
      margin: 0 auto;
      position: relative;
    }

      .userPic {
        width: 150px;
        height: 150px;
        background: url('../images/profile-pic.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        -moz-border-radius: 75px;
        -webkit-border-radius: 75px;
        border-radius: 75px;
       
        /* "Absolute Centering" */
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }

    .info p {
      font-family: 'Quicksand';
      font-size: 1.25em;
      text-align: center;
      font-weight: l300;
      line-height: 1.5em;
      color: white;
    }

    .info:first-child p, .info:last-child p {
      margin: 1em 0;
    }

    .info a {
      color: #fe4800;
    }
    .slc img{
    width: 35%;
    float: right;
    border-radius: 5em;
    
  }

/* Quote ----------------------------------------------- */

.quote {
  background-color: #F9F1DD;
  overflow: hidden;
}
  .quote .container p, h1, .skillset h2, ul{
    font-size: 1.3em;
    font-family: 'Quicksand';
    font-weight: 400;
    text-align: center;
    color: #3b3b3b;
}
  .quote .container {
    padding: 5em;
  } 
  .quote h1 {
    margin: 1em 0;
    font-weight: bold;
  }

  .skillset {
    text-align: center;
  }
    .skillset h2 {
      margin-top: 1em;
      color: #fe4800; 
      font-weight: 400;
    }
    .skillset p {
        display: inline;
        margin: 0.5em;

    }

/* Projects */
.projects {
    background-color: #3b3b3b;
    padding: 0.625rem 0;
    text-align: center;
    overflow: hidden;
}
.projects .header{
    border-bottom: none;
}
.projects >ul {
    padding: 0.625rem 0;
    list-style: none;
    display: ;
}
/* .SmartShopper:hover,
.Karma:hover, 
.streetFighter:hover {
  transform: scale(1.35);
  transition: all 0.5s;
} 
*/
.SmartShopper, .Karma, .streetFighter {
    border-radius: 2em;
    padding: 1em;
    width: 23.75em;
    height: 11.875em;
}
/* Contact */
   

/* Footer */
.social {
    background-color: transparent;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
    margin: 0 auto;
    padding: 10;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    height: 20em;
   
}
.social .content >h5{
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    margin: 1.625rem 0 0.125rem;
    font-weight: 400;
    text-align: center;
    color: white;
}
.social .icons {
    display: inline;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.social .icons >ul {
    list-style: none;
}
.social .icons >li {
    border-radius: 100%;
    box-sizing: border-box;
    width: 2.4em;
    height: 2.4em;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.325rem 0;
    text-align: center;
    vertical-align: baseline;
    background-color: white;
}
.social .copy {
    color: LightGray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.fa-twitter:before {
    content: "\f099";
    color: #55acee;
}
.fa-envelope:before {
    color: #4c66a4;
}
.fa-linkedin-square:before {
    color: rgb(0, 123, 181);
}
.fa-github:before {
    color: purple;
}
/* Media Queries -----------------------------------------------*/

/* Smartphones */
@media only screen and (max-width: 999px) {
    .container { 
      padding: 2em;
    }

    .banner h1 {
    font-size: 0.25em;
    }

    .info {
      width: 100%;
    }

    .navigation-container a {
      font-size: 0.55em;
    }

  .slc {
    display: none;
  }
} 

